::-webkit-scrollbar {
    width: 0;
}

html,
body {
    width: 420px;
    height: 600px;
    background: #fff;
    background-position: center;
    background-repeat: repeat;
    background-size: 40% 40%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.preloader {
    color: #6497b1;
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 36px;
}

/*********/
/** Header styling */
/********/
header.row {
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 5px 0 rgb(177, 175, 175);
    ;
    background: #6497b1;
    text-align: center;

}

header #brand a {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 3;
    left: 20;
    transition: 0.2s all ease;

}

header #brand a::after {
    content: "";
    background: #fff;
    position: absolute;
    top: 78%;
    left: 30%;
    height: 2px;
    width: 30px;
    transition: 0.3s all ease;

}

header #brand img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

header #brand:hover a,
img {
    transition: 0.2s all ease;
}

header #brand:hover a::after {
    content: "";
    background: #f9fafc;
    position: absolute;
    top: 78%;
    left: 4%;
    height: 2px;
    width: 80px;
    transition: 0.3s all ease;
}

header #points {
    color: #fff;
    ;
    font-size: 1em;
    top: 15px;
    line-height: 15px;
    text-align: center;
}

header #points span {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}

header #points::after {
    content: "";
    background-color: rgb(250, 246, 246);
    position: absolute;
    width: 2px;
    height: 35px;
    top: 0;
    left: 100%;
    display: block;
    z-index: 10000;
}

header #account {
    color: #fff;
    font-size: 12px;
}

header #account button {
    position: relative;
    border-radius: 30px;
    top: 8px;
    margin-bottom: 10px;
    background: transparent;
    transition: 0.3s all ease;
    height: 30px;
    ;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0 6px;
}

header #account button:hover {
    background: #011f4b;
    transition: 0.3s all ease;
    border: none;

}

header #account button:active {
    border: none;
    box-shadow: unset;
}

header #profile_photo{
    font-size: 14px;
    font-weight: bold;
    vertical-align: bottom;
    min-width: 100px;
    color: white;
    ;
    
}

header #profile_photo img{
    position: relative;
    border-radius: 50%;
    top: 6px;
    right:2px;
    margin-bottom: 6px;
    background: transparent;
    transition: 0.3s all ease;
    height: 40px; 
    width: 55px !important;
    padding: 0 6px;
    white-space: pre-line;
    z-index: 1000;
    
}

/* Profile Photo DropDown */

ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  li{
      width: 100%;
  }
  .user-menu-wrap {
    position: relative;
    width: 36px;
    z-index: 1000;
  }
  
  .mini-photo-wrapper {
    display: block;
  }
  
  .mini-photo {
    border-radius: 50%;
  }
  
  .menu-container {
    visibility: hidden;
    opacity: 0;
  }
  .menu-container.active {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    
  }
  
  .user-menu {
    position: absolute;
    right: -60px;
    background-color: #fff;
    width: 120px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  .user-menu .user-menu-link {
    display: block;
    text-decoration: none;
    color: #6497b1;
    font-size: 14px;
    padding: 5px 10px;
  }
  .user-menu .user-menu-link:hover {
    background-color: #6497b1;
    color: #fff;
  }
  .user-menu:before {
    position: absolute;
    top: -16px;
    left: 72px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.15);
  }
  .user-menu:after {
    position: absolute;
    top: -14px;
    left: 73px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }

/* Profile Photo DropDown */



/*********/
/** Tabs styling */
/********/
#tabsDivision {
    width: 98%;
    height: 45px;
    margin: 10px auto;
    justify-content: center;
}

.tabs {
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.tabs a {
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
    padding: 0 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    min-width: 199.5px;
    height: 60px;
    text-align: center;
    margin-top: 13px;

}

.tabs a.active {
    color: #fff;
}

.tabs a i {
    margin-right: 5px;
}

.tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    border-radius: 50px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background: #6497b1;
    /* background: -moz-linear-gradient(45deg, #6497b1 0%, #011f4b  100%);
    background: -webkit-linear-gradient(45deg, #6497b1 0%, #011f4b  100%);
    background: linear-gradient(45deg, #6497b1 0%, #011f4b  100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}

/*********/
/** Search box styling */
/********/
#search {
    width: 98%;
    height: 40px;
    margin: 5px auto;
    justify-content: center;

}

#search div {
    padding: 0;
}

#search div input {
    width: 90%;
    margin: 0;
}

#search div i {
    cursor: pointer;

}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #6497b1;
    box-shadow: 0 1px 0 0 #6497b1
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #6497b1;
    box-shadow: 0 1px 0 0 #6497b1;
}

.active-cyan .fa,
.active-cyan-4 .fa {
    color: rgb(58, 56, 56);
}


/*********/
/** Body styling */
/********/


.mySlides img {
    width: 100%;
}

h1#tazzo {
    z-index: -20;
    position: absolute;
    text-align: center;
    top: 33%;
    left: 18%;
    color: #9E9E9E;
    font-size: 100px;
}

.tab-content {
    overflow: scroll;
    height: 380px;
    width: 98%;
    overflow-x: hidden;
    background: #f3f3f5;
    margin: 5px auto;
    justify-content: center;
    animation: 2s ease 0s 1 fadeIn;
    animation: slide-right 0.4s ease;

}

.tab-pane {
    padding: 0 5px;
}

.tab-content::-webkit-scrollbar {
    display: none;
}

/*********/
/** footer styling */
/********/
footer {
    height: 35px;
    background: rgba(230, 228, 228, 0.884);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
}

footer div {
    text-align: center;
    height: 100%;
    line-height: 35px;
    transition: 0.3s all ease;

}

footer div p a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}

footer #aboutUs::after {
    content: "";
    background-color: rgb(165, 157, 157);
    position: absolute;
    width: 2px;
    height: 35px;
    bottom: 0;
    left: 100%;
    display: block;
    z-index: 10000;
}

footer div:hover {
    background: rgba(167, 164, 164, 0.377);
    transition: 0.3s all ease;
}
/*********************/
/*****MyDeals********/




/*********/
/** login */
/********/
#login {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 490px;
    background: url('../images/bg.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: 40% 40%;
    background-attachment: fixed;
    z-index: 10;
    display: none;
}

#login div {
    width: 100%;
    display: flexbox;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    display: block;
    margin: 0 auto;

}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.loginBtn--google {
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}



/************************/
/* For My Kid */
/************************/


#myKid .control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

#myKid .control {
    width: 188px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

#myKid .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#myKid .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #6497b1;
    border-color: #011f4b;
    border: solid;
}


#myKid .filters .button-group-pills input {
    display: none;
}

#myKid .filters .button-group-pills div {
    line-height: 25px;
    text-align: center;
    bottom: 15px;
    text-align: center;
    vertical-align: middle;
}

#myKid .control--radio .control__indicator {
    border-radius: 50%;
}

#myKid .control input~.control__indicator {
    background: #ccc;
}


#myKid .control input:checked~.control__indicator {
    background: #6497b1;
}

.center {
    position: relative;
    left: 12%;
}

#myKid .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

#myKid .control input:checked~.control__indicator:after {
    display: block;
}

#myKid .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#myKid .control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

#myKid .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

#myKid .control--radio input:disabled~.control__indicator:after {
    background: #ccc;
}

#icon {
    margin-right: 6px;
}

/*------GENDER----*/

#myKid .button-group-pills .btn {
    border-radius: 20px;
    line-height: 2;
    width: 100px;
    margin-bottom: 15px;
    padding: 0 5px;
    margin-left: 10px;
    border-color: #6497b1;
    background-color: #FFF;
    color: #6497b1;
}

#myKid .button-group-pills .btn.active {
    border-color: #6497b1;
    background-color: #6497b1;
    color: #FFF;
    box-shadow: none;
}

#myKid .button-group-pills .btn:hover {
    background-color: #6497b1;
    color: #FFF;
}

#myKid #submitButton {
    position: absolute;
    margin-top: 10px;
    bottom: 10;
    width: fit-content;
    height: 30px;
    right: 15px;
    border: 2px solid #6497b1;
    background: transparent;
    border-radius: 8px;
    color: #4a4e4d;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}

#myKid #submitButton:hover {
    background: #6497b1;
    color: white;
}

h3 {
    text-align: center;
    color: #6497b1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#myKid .filters h3 {
    margin: 5px 0;
    font-size: 17px;
    ;
}

#myKid .filters label {
    font-size: 12px;
    color: rgb(85, 83, 83);
}

#myKid .filters .purpose-input {
    margin: 5px auto;
    position: relative;
    left: 25%;
    transform: translateX(-30%);
}

#myKid .filters input[type='checkbox'] {
    font-size: 10px;
}


/*******price slider ***/
.price-slider input {
    box-shadow: 0;
    outline: 0;
}

.price-slider .range-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
}

.price-slider .range-slider svg,
.price-slider .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}

.price-slider input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
}

.price-slider input[type=number]::-webkit-outer-spin-button,
.price-slider input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-slider input[type=number]:invalid,
.price-slider input[type=number]:out-of-range {
    border: 2px solid #ff6347;
}

.price-slider input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

.price-slider input[type=range]:focus {
    outline: none;
}

.price-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
}

.price-slider input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
}

.price-slider input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
}

.price-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

.price-slider input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.price-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

.price-slider input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}

.price-slider input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.price-slider input[type=range]::-ms-fill-lower,
.price-slider input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

.price-slider input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}

/******end price slider ***/


/************For My Kid End****************/
/* Slideshow container */

h1#slider-bg {
    z-index: 3;
    position: absolute;
    text-align: center;
    left: 33%;
    top: 33%;
    font-size: -webkit-xxx-large;
    color: grey;
}

.mySlides img {
    z-index: 34;
    position: absolute;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 178px;
}

/* Hide the images by default */
.slideshow-container .mySlides {
    display: none;
}




/* Fading animation */
.slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/********Splash Page ******/

#getstarted {
    position: absolute;
    background: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    top: 75px;
    left: 0;
    bottom: -14px;
    width: 100%;
    height: 534px;
    z-index: 100;
    padding: 2px 0;
}

.startButton {
    position: absolute;
    width: fit-content;
    height: 30px;
    right: 10px;
    border: 1px solid #6497b1;
    background: #6497b1;
    border-radius: 8px;
    color: #fff;
    z-index: 100;
    bottom: 17px;
    padding: 2px 10px;
}